<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingwei.common_library">
    <application>
        <provider
            android:authorities="${applicationId}.android7.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>
</manifest>